body {
    text-align: center;
    background-color: rgb(77, 76, 75);
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: antiquewhite;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: center;
    color: #ffd000;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  .imagem {
    max-width: 700px;
    max-height: 500px;
    object-fit: cover;
    margin: 10px;
    display: none; /* Esconde todas as imagens inicialmente */
    transform: translateX(100%); /* Inicialmente, a imagem está fora da tela para a direita */
    transition: transform 0.5s ease-in-out;
  }
  
  .ativa {
    display: block; /* Mostra a imagem ativa */
    transform: translateX(0); /* Quando a imagem é ativa, ela volta para a posição inicial */
  }
  .botao {
    background-color: #2073b6; /* Verde */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .botao:hover {
    background-color: #3e8e41; /* Verde mais escuro ao passar o mouse */
  }
/*.galeria img {
    width: 90%;
    height: auto;
    display: none;
    position: absolute;
    top: 70%; /* Ajuste para 70% */
    /*left: 50%;
    transform: translate(-50%, -50%);
}